<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Books')}" />

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Spring Library WDPT6')}" />
    </header>
    
    <main class="container">
        <section class="title row">
            <div class="col-12">
                <h1 class="text-center fw-bold mb-3">
                    Books Management System
                </h1>
            </div>
        </section>

        <section class="search-bar row justify-content-center mb-3">
            <form th:action="@{/books}" method="GET" class="col-12 d-flex justify-content-between">
                <div class="creation-button">
                    <a th:href="@{/books/create}" class="btn btn-primary">Create a new book</a>
                </div>
                <div class="input-group w-25">
                    <input type="search" name="keyword" id="book-search-input" class="form-control" >
                    <button class="btn btn-primary btn" type="submit">Search</button>
                </div>
            </form>
        </section>

        <section class="books">
            <table class="table table-hover" th:if="${books.size() > 0}">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Publication Date</th>
                        <th scope="col">Number of copies</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}" th:object="${book}">
                        <td>[[*{id}]]</td>
                        <td>[[*{title}]]</td>
                        <td>[[*{author}]]</td>
                        <td>[[*{isbn}]]</td>
                        <td>[[*{publisher}]]</td>
                        <td>[[*{publicationDate}]]</td>
                        <td>[[*{numberOfCopies}]]</td>
                        <td>
                            <a th:href="@{|/books/*{id}|}" class="btn btn-primary btn-sm">Show</a>
                            <a th:href="@{|/books/*{id}|}" class="btn btn-success disabled btn-sm">Edit</a>
                            <a th:href="@{|/books/*{id}|}" class="btn btn-warning disabled btn-sm">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="text-center text-primary" th:unless="${books.size() > 0}">
                There are no books available at this moment
            </h2>
        </section>
    </main>



    <th:block th:replace="~{fragments/footer :: scripts}">
        <!-- Scripts -->
    </th:block>
</body>

</html>