<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('borrowings')}" />

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Spring Library WDPT6')}" />
    </header>

    <main class="container">
        <section class="title row">
            <div class="col-12">
                <h1 class="text-center fw-bold mb-3">
                    Editing [[${category.name}]]
                </h1>
            </div>
        </section>

        <section class="borrowings row">
            <div class="col-12">
                <form th:action="@{/categories/{id}(id=${category.id})}" method="POST" th:object="${category}" id="borrowing-creation-form">

                      <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" type="text" min="3" max="255" class="form-control mb-3" th:field="*{name}"
                           th:errorClass="is-invalid"  required >
                        <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" >
                            <ul>
                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea id="description" class="form-control mb-3" th:field="*{description}" rows="5"></textarea>
                        <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback" >
                            <ul>
                                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Update category</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </form>
            </div>

            
        </section>
    </main>



    <th:block th:replace="~{fragments/footer :: scripts}">
        <!-- Scripts -->
    </th:block>
</body>

</html>