<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Books')}" />

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Spring Library WDPT6')}" />
    </header>

    <main class="container">
        <section class="title row">
            <div class="col-12">
                <h1 class="text-center fw-bold mb-3">
                    Books Management System
                </h1>
            </div>
        </section>

    
                <section class="borrowings row">
            <table class="col-12 table table-hover" th:if="${borrowings.size() > 0}">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Book id</th>
                        <th scope="col">Book title</th>
                        <th scope="col">Borrowing Date</th>
                        <th scope="col">Return Date</th>
                        <th scope="col">Note</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="borrowing : ${borrowings}" th:object="${borrowing}">
                        <td>[[*{id}]]</td>
                        <td>[[*{book.id}]]</td>
                        <td>[[*{book.title}]]</td>
                        <td>[[*{borrowingDate}]]</td>
                        <td>[[*{returnDate}]]</td>
                        <td>[[*{notes}]]</td>
                        <td>
                            <a th:href="@{|/borrowings/*{id}/edit|}" class="btn btn-success btn-sm">Edit</a>

                             <!-- * Il BOTTONE che triggera la modale -->
                            <button type="button" class="d-inline btn btn-warning btn-sm" data-bs-toggle="modal"
                                th:data-bs-target="'#delete-modal-' + *{id}">
                                Delete
                            </button>

                            <!-- La modale nascosta che appare solo quando viene cliccato il bottone relativo -->
                            <div class="modal fade" th:id="'delete-modal-' + *{id}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletion of borrowing of the book with title <strong>"[[${borrowing.book.title}]]"</strong> borrowed on the <strong>[[*{borrowingDate}]]</strong></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Are you sure that you want to delete the book with title <strong>"[[${borrowing.book.title}]]"</strong> borrowed on the <strong>[[*{borrowingDate}]]</strong> and id: [[*{id}]]?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <form th:action="@{|/borrowings/delete/*{id}|}" method="post" class="d-inline">
                                                <button type="submit" class="btn btn-danger btn">Delete</button>
                                            </form> 
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="text-center text-primary" th:unless="${borrowings.size() > 0}">
                There are no borrowings to be seen
            </h2>
        </section>
    </main>



    <th:block th:replace="~{fragments/footer :: scripts}">
        <!-- Scripts -->
    </th:block>
</body>

</html>